@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    border-bottom: 1px solid black;
    box-shadow: 80px 80px  80px rgba(1,0,0,0.1);

 
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
    color:black;
    padding: 0 50px; 
}
.logo img{
    width: 90px;
    height: 80px;
    border-radius: 50%;
}
.login-btn{
    width: 70px;
    height: 40px;
    margin-right: 15px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: #ff7b00;
}
.login-btn:hover{
    background-color:#b85805;
    color: black;
}
.home-banner img{
    width: 100%;
    height: 600px;
    border-radius: 10px ;
    margin: 5px 10px;
}
.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    color: black;
}
.product1{
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    margin: 5px 12px;
}
.product1 img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 10px 20px;
    cursor: pointer;
}
.product1 p{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    cursor: pointer;
}
.product1 h3{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
}
.products button{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-left: 40px;
    background-color: #ff7b00;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.products button:hover{
    background-color:#b85805;
    color: black;
}

.about-me{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px;
    margin: 100px 100px;
}
.leftchild img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.rightchild{
  display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;  
}
.contact-heading{
    text-align: center;
    margin-top: 200px;
}
.contact-form{
    display: flex;
    justify-content: center;
}
form{
    border: 2px solid rgba(0, 0, 0, 0.178);
    padding: 25px;
    margin: 30px;
    border-radius: 25px;  
    background-color: rgba(0, 0, 0, 0.178);
}
.contact-form input{
    margin: 10px 0;
    padding: 12px;
    width: 250px;
    border: none;
    background-color: rgb(253, 251, 251);
    border-radius: 20px;
}
.contact-btn button{
    width: 80px;
    height: 30px;
    border-radius: 15px;
    margin-left: 90px;
    border: none;
}
.contact-btn button:hover{
    background-color:#ff7b00 ;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer-div{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}
.footer-div li{
    margin: 20px 50px;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
footer{
    background-color: rgb(228, 172, 67);
    overflow:hidden;
}
 .footer-div a{
    font-size: 40px;
    margin: 20px 20px;
    text-decoration: none;
 }
 
 .fa-facebook{
    color: rgb(4, 7, 185);
 }
 .fa-twitter{
    color: rgb(9, 119, 156);
 }
 .fa-google{
    color:rgb(221, 21, 21);

 }
 .fa-linkedin{
    color:rgb(66, 133, 244)
 }
  


